body {
  padding:1%;
  background-color: #F5F5F5;
}
h2 {
  font-weight: 700;
}

h4 {
  font-weight: 700;
}

.text-panel {
/*  width:100%;*/
}

.row {
  margin-bottom:1.5em;
}

.reality-body {
  background-color: #fdb48d;
  color: #a20e42;
}

.story-body {
  background-color: #575d8f;
  color: #b9aebc;
}

.panel-heading {
  text-align: center;
}

.permalink {
  color:#303030;
  text-decoration: none;
}
.permalink h4 span{
  color: transparent;
}

.permalink:hover, .permalink:hover h4 span{
  color: #000000;
  text-decoration: underline;
}

a:hover {

  color: #a20e42;
  text-decoration: underline;
}

a {
  color: #b9aebc;
  }
