<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <author>
    <name>PlantProgrammer</name>
  </author>
  <title>Meine Welt der Dinge</title>
  <updated>{{ datetime | date:"c" }}</updated>

{% for p in post_list %}
  <entry>
    <title type="html">{{ p.title }}</title>
    <link href="//realitycheck.pl/post/{{ p.pub_date|date:'U' }}"/>
    <id>{{ p.pub_date | date:"U" }}</id>
    <updated>{{ p.pub_date | date:"c"}}</updated>
    <content type="html">
      &lt;h4&gt;Reality&lt;/h4&gt;
      &lt;p&gt;{{ p.reality }}&lt;/p&gt;
      &lt;h4&gt;Story&lt;/h4&gt;
      &lt;p&gt;{{ p.story }}&lt;/p&gt;

    </content>
  </entry>
  {% endfor %}
</feed>
