<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">

  <author>
    <name>PlantProgrammer</name>
  </author>
  <title>Meine Welt der Dinge</title>
  <updated>{{ datetime | date:"c" }}</updated>

{% for p in post_list %}
  <entry>
    <title type="html">{{ p.title }}</title>
    <link href="//realitycheck.pl/api/posts/bytime/{{ p.pub_date|date:'U' }}"/>
    <id>{{ p.pub_date | date:"U" }}</id>
    <updated>{{ p.pub_date | date:"c"}}</updated>
    <content type="html">
      <h4>Reality</h4>
      <p>{{ p.reality }}</p>
      <h4>Story</h4>
      <p>{{ p.story }}</p>
    </content>
  </entry>
  {% endfor %}
</feed>