{% load staticfiles %}
{% load clicky %}
{% load google_analytics %}
<!doctype html>
<HTML>
 <HEAD>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

  <SCRIPT src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
  <SCRIPT src="{% static 'blog/js/bootstrap.min.js' %}"></script>
  <SCRIPT src="{% static 'blog/js/flattr.js' %}"></script>
  <SCRIPT src="{% static 'blog/js/jscroll-2.2.4.min.js' %}"></script>
  <SCRIPT src="{% static 'blog/js/scroll_event.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}" />
  <TITLE>Meine Welt der Dinge</title>
  {% clicky %}
  {% google_analytics %}
  </head>
  <BODY>
  <div id="container_head"></div>
  <div id="container_main" class="scroll">