{% load staticfiles %}
{% load clicky %}
{% load google_analytics %}
<!doctype html>
<HTML>
 <HEAD>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >

  <SCRIPT src="{% static 'blog/js/jquery-2.1.3.min.js' %}"></script>
  <SCRIPT src="{% static 'blog/js/bootstrap.min.js' %}"></script>
  <SCRIPT src="{% static 'blog/js/flattr.js' %}"></script>
  <SCRIPT src="{% static 'blog/js/jscroll-2.2.4.min.js' %}"></script>
  <SCRIPT src="{% static 'blog/js/scroll_event.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/bootstrap.min.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'blog/css/style.css' %}" />
  <TITLE>Meine Welt der Dinge</title>
  {% clicky %}
  {% google_analytics %}
  </head>
  <BODY>
  <div id="container_head">
   <div class="row">
     <div class="col-md-2"></div>
     <div class="col-md-8">
       <div class="panel panel-warning">
         <div class="panel-heading" style="cursor: pointer;-moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;' 
 unselectable='on'
 onselectstart='return false;' 
 onmousedown='return false;" onClick="$('#intro').toggle('hidden')">
           <h3 class="panel-title">Erstes Mal hier?</h3>
         </div>
       <div id="intro" class="panel-body" hidden>Die Idee zu diesem Blog kam mir, als ich mich irgendwann mal geärgert habe, dass die Welt, wie ich sie wahrnehme, viel spektakulärer ist, als in Wirklichkeit. Langweilige Wirklichkeit!!! <br />Da mein Kopf sich aber nicht davon überzeugen lässt, meine Wahrnehmung nicht zu täuschen, teile ich hier mehr oder weniger regelmäßig, was wirklich passiert ist (Reality) und was mein Kopf daraus gemacht hat (Story). Die Überschriften waren ursprünglich nur für mich als Identifier gedacht, aber ich wurde gebeten, sie mit zu veröffentlichen, was ich gerne tue xD.<br />Und nun, viel Spaß in der Welt, wie ich sie tagtäglich wahrnehme ... <br /><br /><a href="http://realitycheck.pl/feed.xml"><span class="glyphicon glyphicon-list-alt" /> Atom_feed</a><br /></div>
     </div>
     </div>
     <div class="col-md-2"></div>
   </div>
  </div>
  <div id="container_main" class="scroll">
