{% if index %}
{% include "blog/header.html" %}
{% endif %}
{% if post_list %}
  {% for p in post_list %}
    <div id="{{ p.id }}" class="post-container panel panel-default">
      <div class="panel-body">
        <a href="/post/{{ p.pub_date|date:'U' }}" class="permalink"><h4 id="{{ p.pub_date|date:'U' }}" class="date panel-heading">{{ p.pub_date|date:"d.m.Y H:i" }} :~: {{ p.title }} <span>¶</span></h4></a>
        <div class="row">
          <div class="col-md-6 text-panel">
            <div class="panel panel-success">
              <div class="panel-heading"><h2 class="panel-title">Reality</h2></div>
              <div class="panel-body reality-body">
		{% if p.reality_image %}
		<div><img src="{{ p.reality_image.url }}" /></div>
		{% endif %}
		<div>{{ p.reality|safe }}</div></div>
            </div>
          </div>
          <div class="col-md-6 text-panel">
            <div class="panel panel-danger">
              <div class="panel-heading"><h2 class="panel-title">Story</h2></div>
              <div class="panel-body story-body">
		{% if p.story_image %}
		<div><img src="{{ p.story_image.url }}" /></div>
		{% endif %}
		<div>{{ p.story|safe }}</div></div>
            </div>
          </div>
        </div>
        <div class="flattr">
          <a class="FlattrButton" style="display:none;"
            title="RealityCheck :: {{ p.title }}"
            data-flattr-uid="PlantProgrammer"
            data-flattr-button="compact"
            data-flattr-lang="de_DE"
            href="/api/posts/bytime/{{ p.pub_date|date:'U' }}"
          ></a>
        </div>
        <div><a href="https://twitter.com/intent/tweet?text={{ p.title }} %23RealityCheck%0Ahttp%3A//realitycheck.pl/post/{{ p.pub_date|date:'U' }}/">🐦Tweet this</a></div>
      </div>
    </div>
    <a href="/api/posts/getNext/{{ p.pub_date|date:'U' }}" style="display:none;">next</a>

    {% if forloop.first and detail %}
    <hr /><h3>Andere Posts</h3>
    {% endif %}
{% endfor %}
{% else %}
    {% if active_page == 'imprint' %}
        <div class="panel panel-default">
        <div class="panel-body">
          <h4 class="panel-heading">Ich bin erreichbar unter:</h4>
            <ul>
                <li>Twitter: <a href="https://twitter.com/PlantProgrammer">@PlantProgrammer</a></li>
                <li>E-Mail: <a href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#105;&#110;&#102;&#111;&#64;&#114;&#101;&#97;&#108;&#105;&#116;&#121;&#99;&#104;&#101;&#99;&#107;&#46;&#112;&#108;">info@rea.......ck.pl</a></li>
                <li>ask.fm: <a href="https://ask.fm/PlantProgrammer">PlantProgrammer</a></li>
            </ul>
        </div>
      </div>
    {% elif active_page == 'search' %}
        <div id="-1" class="post-container panel panel-default">
        <div class="panel-body">
          <h4 id="the_end" class="date panel-heading">Es wurden keine Posts mit den Suchkriterien <em>{{ searchterm }}</em> gefunden</h4>
        </div>
      </div>
    {% else %}
      <div id="-1" class="post-container panel panel-default">
        <div class="panel-body">
          <h4 id="the_end" class="date panel-heading">Keine weiteren Posts verfügbar.</h4>
        </div>
      </div>
    {% endif %}
{% endif %}
{% include "blog/footer.html" %}
